<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
</header>
<main>
  <section>
    <button (click)="deleteLastTodo()">Remove last TODO</button>
    <button (click)="deleteAll()">Clear all</button>
  </section>
  <section>
    <input placeholder="Your plan" [(ngModel)]="newTodo.title" (keyup.enter)="addNewTodo()">
    <button (click)="addNewTodo(todo)">Add</button>
  </section>
  <section>
    <ul>
        <li *ngFor="let todo of todos">
          <div>
            <label>{{todo.title}}</label>
          </div>
        </li>
      </ul>
  </section>
</main>
<router-outlet></router-outlet>

