<header>
  <img class="cover-art" src="/assets/images/clip-list.png" alt="Illustartion of a woman holding a big pencil">
  <h1 class="headline title">{{ title }}</h1>
  <h2 class="headline subtitle">{{ subtitle }}</h2>
</header>
<main>
  <section>
    <input [(ngModel)]="newTodo.title" (keyup.enter)="addNewTodo()" class="todo-input" placeholder="Your plan">
    <button (click)="addNewTodo(todo)" class="button button--add-todo">Add</button>
    <button (click)="deleteLastTodo()" class="button button--action">Remove last TODO</button>
    <button (click)="deleteAll()" class="button button--action">Clear all</button>
  </section>
  <section>
    <ul class="todo-list">
      <li *ngFor="let todo of todos" class="todo-list--element">
        Task#{{todo.id}}: {{todo.title}}
      </li>
      <div *ngIf="todos.length === 0" class="success-box">
        <p>Nothing to do!</p>
        <img class="success-art" src="/assets/images/clip-success.png" alt="Happy people dancing">
      </div>
    </ul>
  </section>
</main>
<footer *ngIf="todos.length > 0">
  <span>You have {{todos.length}} {{todos.length === 1 ? 'item' : 'items'}} left</span>
</footer>
<router-outlet></router-outlet>
